In [220]:
import pandas as pd
import numpy as np
import sqlite3
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime

#Set plotting style
plt.style.use('seaborn-v0_8-whitegrid')
sns.set_palette('deep')

In [221]:
conn = sqlite3.connect('papcorns.sqlite')

In [222]:
#Import Users Table into dataframe

users_df = pd.read_sql_query("SELECT*FROM users;",conn)

In [223]:

#Import Users Event Table into dataframe
events_df = pd.read_sql_query("SELECT*FROM user_events;",conn)

In [224]:
#Check columns and records's amount of Users df

users_df.shape

(1002, 5)

In [225]:
#Check columns and records's amount of Users Event df

events_df.shape

(3486, 5)

In [226]:
users_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1002 entries, 0 to 1001
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  1002 non-null   int64
 1   created_at          1002 non-null   object
 2   attribution_source  1002 non-null   object
 3   country             1002 non-null   object
 4   name                1002 non-null   object
dtypes: int64(1), object(4)
memory usage: 39.3+ KB

In [227]:
events_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3486 entries, 0 to 3485
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          3486 non-null   int64
 1   created_at  3486 non-null   object
 2   user_id     3486 non-null   int64
 3   event_name  3486 non-null   object
 4   amount_usd  1231 non-null   float64
dtypes: float64(1), int64(2), object(2)
memory usage: 136.3+ KB

In [228]:
#5 head records of Users df

users_df.head()

   id           created_at attribution_source country          name
0   1  2024-05-07T00:00:00          instagram      US     Eve Brown
1   2  2024-10-12T00:00:00          instagram      NL   Frank Moore
2   3  2024-10-15T00:00:00             tiktok      TR  Ivy Anderson
3   4  2024-08-28T00:00:00             tiktok      TR   Alice Brown
4   5  2024-04-03T00:00:00            organic      NL     Bob Moore

In [229]:
#5 head records of Users Event df

events_df.head()

   id           created_at  user_id       event_name  amount_usd
0   1  2024-05-07T00:00:00        1      app_install         NaN
1   2  2024-05-12T00:00:00        1    trial_started         NaN
2   3  2024-05-24T00:00:00        1  trial_cancelled         NaN
3   4  2024-10-12T00:00:00        2      app_install         NaN
4   5  2024-10-13T00:00:00        2    trial_started         NaN

In [230]:
#Check Missing values by columns Users df

#Note  No missing values in Users df

users_df.isnull().sum()

id                    0
created_at            0
attribution_source    0
country               0
name                  0
dtype: int64

In [231]:
#Check Missing values by columns Users Event df

#Note!... 2255 of 3486 records of amount_usd column are null that is too high
#Take a look and give address what category have missing values 'most'

events_df.isnull().sum()

id               0
created_at       0
user_id          0
event_name       0
amount_usd    2255
dtype: int64

In [232]:
#Value count by columns for Users df


for  i in users_df.columns:
    print("-"*18+"  ",i,"  "+"-"*18)
    print('There are ',users_df[i].nunique(),f' unique records of {i}',end= '\n\n')
    print(users_df[i].value_counts(ascending=False),end='\n\n\n\n')

------------------   id   ------------------
There are  1002  unique records of id

id
1       1
673     1
660     1
661     1
662     1
       ..
340     1
341     1
342     1
343     1
1002    1
Name: count, Length: 1002, dtype: int64



------------------   created_at   ------------------
There are  384  unique records of created_at

created_at
2024-07-01T00:00:00    8
2024-10-24T00:00:00    8
2024-08-15T00:00:00    7
2024-11-13T00:00:00    7
2024-07-06T00:00:00    6
                      ..
2024-03-03T00:00:00    1
2024-12-12T00:00:00    1
2024-06-06T00:00:00    1
2024-08-02T00:00:00    1
2024-10-13T00:00:00    1
Name: count, Length: 384, dtype: int64



------------------   attribution_source   ------------------
There are  3  unique records of attribution_source

attribution_source
tiktok       352
organic      344
instagram    306
Name: count, dtype: int64



------------------   country   ------------------
There are  3  unique records of country

country
TR    354
US    340
NL    308
Name: count, dtype: int64



------------------   name   ------------------
There are  102  unique records of name

name
Henry Jones         18
David Anderson      18
Ivy Anderson        16
Alice Smith         16
Alice Moore         16
                    ..
Charlie Williams     5
Ivy Miller           4
Jack Brown           2
Bruce Wayne          1
Clark Kent           1
Name: count, Length: 102, dtype: int64

In [233]:
#Value count by columns for Users Eventdf

for  i in events_df.columns:
    print("-"*18+"  ",i,"  "+"-"*18)
    print('There are ',events_df[i].nunique(),f' unique records of {i}',end= '\n\n')
    print(events_df[i].value_counts(ascending=False),end='\n\n\n\n')

------------------   id   ------------------
There are  3486  unique records of id

id
1       1
2329    1
2318    1
2319    1
2320    1
       ..
1166    1
1167    1
1168    1
1169    1
3486    1
Name: count, Length: 3486, dtype: int64



------------------   created_at   ------------------
There are  515  unique records of created_at

created_at
2025-02-15T00:00:00    17
2024-05-14T00:00:00    17
2025-02-01T00:00:00    16
2025-02-13T00:00:00    16
2025-01-05T00:00:00    16
                       ..
2024-01-16T00:00:00     1
2025-05-18T00:00:00     1
2025-03-05T00:00:00     1
2025-06-28T00:00:00     1
2025-05-03T00:00:00     1
Name: count, Length: 515, dtype: int64



------------------   user_id   ------------------
There are  1002  unique records of user_id

user_id
832     8
331     8
950     8
359     8
819     8
       ..
492     1
489     1
477     1
469     1
1002    1
Name: count, Length: 1002, dtype: int64



------------------   event_name   ------------------
There are  6  unique records of event_name

event_name
app_install               1002
subscription_renewed       750
trial_started              682
subscription_started       481
subscription_cancelled     370
trial_cancelled            201
Name: count, dtype: int64



------------------   amount_usd   ------------------
There are  3  unique records of amount_usd

amount_usd
4.99    456
9.99    404
8.99    371
Name: count, dtype: int64

In [234]:
#Create new dataframe having missing values od amount_usd column
# Addressing missing values in Users event df

null_df = events_df[events_df['amount_usd'].isnull()]

In [235]:
#groupby created_at

#There is no make sense result grouping by created_at!... 

null_df.groupby(['created_at'])['created_at'].count()

created_at
2024-01-01T00:00:00    3
2024-01-02T00:00:00    2
2024-01-03T00:00:00    3
2024-01-04T00:00:00    3
2024-01-05T00:00:00    4
                      ..
2025-06-20T00:00:00    1
2025-06-22T00:00:00    1
2025-06-24T00:00:00    1
2025-06-28T00:00:00    1
2025-07-12T00:00:00    1
Name: created_at, Length: 470, dtype: int64

In [236]:
#groupby event_name

#In this analysis we realize that in those subcategory of 
#event_name (app_install,subscription_cancelled,trial_cancelled,trial_started) No Cost
#that s why the values are null 

null_df.groupby(['event_name'])['event_name'].count()

event_name
app_install               1002
subscription_cancelled     370
trial_cancelled            201
trial_started              682
Name: event_name, dtype: int64

## Core Tasks

#### Join the table for handling core  tasks

In [237]:
#Join dataframe to combine country and amount_usd at the same dataframe
#this allow calculate revenue by country
#As noted in the document user_id in Events Tbale is reference of id in Users table so mergen based on those columns

In [238]:
df = pd.merge(users_df,events_df, how = 'inner', left_on = 'id',right_on = 'user_id')

In [239]:
#keep a copy of dataframe just in case

df_backup = df.copy()

In [240]:
df.head()

,id_x,created_at_x,attribution_source,country,name,id_y,created_at_y,user_id,event_name,amount_usd
0,1,2024-05-07T00:00:00,instagram,US,Eve Brown,1,2024-05-07T00:00:00,1,app_install,NaN
1,1,2024-05-07T00:00:00,instagram,US,Eve Brown,2,2024-05-12T00:00:00,1,trial_started,NaN
2,1,2024-05-07T00:00:00,instagram,US,Eve Brown,3,2024-05-24T00:00:00,1,trial_cancelled,NaN
3,2,2024-10-12T00:00:00,instagram,NL,Frank Moore,4,2024-10-12T00:00:00,2,app_install,NaN
4,2,2024-10-12T00:00:00,instagram,NL,Frank Moore,5,2024-10-13T00:00:00,2,trial_started,NaN

In [241]:
#remove  idle created columns after merging

df.drop(['id_y','created_at_y'],axis =1,inplace=True)

In [242]:
#rename suffixed columns into original

df.rename({'id_x':'id','created_at_x':'created_at'},inplace=True,axis=1)

In [243]:
df

,id,created_at,attribution_source,country,name,user_id,event_name,amount_usd
0,1,2024-05-07T00:00:00,instagram,US,Eve Brown,1,app_install,NaN
1,1,2024-05-07T00:00:00,instagram,US,Eve Brown,1,trial_started,NaN
2,1,2024-05-07T00:00:00,instagram,US,Eve Brown,1,trial_cancelled,NaN
3,2,2024-10-12T00:00:00,instagram,NL,Frank Moore,2,app_install,NaN
4,2,2024-10-12T00:00:00,instagram,NL,Frank Moore,2,trial_started,NaN
...,...,...,...,...,...,...,...,...
3481,1000,2025-02-13T00:00:00,organic,NL,Jack Anderson,1000,trial_cancelled,NaN
3482,1001,2025-02-16T00:00:00,instagram,US,Bruce Wayne,1001,app_install,NaN
3483,1001,2025-02-16T00:00:00,instagram,US,Bruce Wayne,1001,trial_started,NaN
3484,1001,2025-02-16T00:00:00,instagram,US,Bruce Wayne,1001,subscription_started,9.99
3485,1002,2025-02-16T00:00:00,organic,TR,Clark Kent,1002,app_install,NaN

In [244]:
#Convert created_at column  into datetime format

df['created_at'] = pd.to_datetime(df['created_at'])

In [245]:
#check missing values after joining. This might be to confirm if joining is correct or not

df.isnull().sum()

id                       0
created_at               0
attribution_source       0
country                  0
name                     0
user_id                  0
event_name               0
amount_usd            2255
dtype: int64

### 1 -  Calculate the total revenue generated from subscriptions for each country

In [246]:
df.groupby('country')['amount_usd'].sum()

country
NL    3335.29
TR    2275.44
US    4035.96
Name: amount_usd, dtype: float64

### 2 - Calculate the total number of trials given to users who came from instagram

In [247]:
df[(df['attribution_source']=='instagram')&(df['event_name']=='trial_started')]

,id,created_at,attribution_source,country,name,user_id,event_name,amount_usd
1,1,2024-05-07,instagram,US,Eve Brown,1,trial_started,NaN
4,2,2024-10-12,instagram,NL,Frank Moore,2,trial_started,NaN
44,12,2024-01-08,instagram,US,Frank Miller,12,trial_started,NaN
63,15,2024-07-10,instagram,US,Bob Miller,15,trial_started,NaN
66,16,2024-04-26,instagram,NL,Alice Brown,16,trial_started,NaN
...,...,...,...,...,...,...,...,...
3432,989,2025-01-12,instagram,NL,Alice Jones,989,trial_started,NaN
3438,990,2024-11-24,instagram,TR,David Davis,990,trial_started,NaN
3448,992,2025-02-07,instagram,US,Grace Jones,992,trial_started,NaN
3458,995,2024-09-30,instagram,US,Frank Smith,995,trial_started,NaN
3483,1001,2025-02-16,instagram,US,Bruce Wayne,1001,trial_started,NaN

In [248]:
#Check each trial record belongs to unique user_id

df[(df['attribution_source']=='instagram')&(df['event_name']=='trial_started')]['user_id'].nunique()

210

In [249]:
print('Amount of trials from intagram :',df[(df['attribution_source']=='instagram')&(df['event_name']=='trial_started')]['event_name'].count())

Amount of trials from intagram : 210

### 3 - Create a new column named 'acquisition_channel' by categorizing users based on their 'attribution_source'

In [250]:
#Use list comprehension based on attribution_source values 'Paid' for instagram and tiktok and Organic for organic
#Crete new column

df['acquisition_channel'] = pd.Series(['Organic' if i=='organic' else 'Paid' for i in df['attribution_source']])

In [251]:
df.sample(20)

,id,created_at,attribution_source,country,name,user_id,event_name,amount_usd,acquisition_channel
1634,472,2024-10-29,organic,TR,Jack Smith,472,subscription_renewed,4.99,Organic
61,14,2024-01-12,organic,NL,Alice Taylor,14,subscription_cancelled,NaN,Organic
1391,398,2024-04-09,tiktok,NL,Charlie Miller,398,subscription_renewed,8.99,Paid
125,34,2024-06-05,tiktok,US,David Davis,34,trial_started,NaN,Paid
2184,631,2024-02-21,organic,US,David Taylor,631,app_install,NaN,Organic
2500,717,2025-02-02,organic,TR,Frank Jones,717,subscription_renewed,4.99,Organic
748,221,2024-01-27,instagram,TR,Grace Davis,221,app_install,NaN,Paid
200,55,2025-02-10,organic,TR,Grace Wilson,55,subscription_started,4.99,Organic
2492,715,2024-07-01,tiktok,US,Ivy Williams,715,subscription_cancelled,NaN,Paid
1047,298,2024-05-16,instagram,TR,Bob Anderson,298,subscription_renewed,4.99,Paid
838,246,2024-01-23,tiktok,US,Alice Jones,246,app_install,NaN,Paid
2480,712,2024-07-25,tiktok,TR,Henry Taylor,712,subscription_cancelled,NaN,Paid
2080,603,2024-12-08,organic,NL,Jack Moore,603,trial_started,NaN,Organic
1307,372,2024-06-27,organic,TR,David Taylor,372,subscription_cancelled,NaN,Organic
1464,423,2024-10-03,tiktok,NL,Alice Anderson,423,app_install,NaN,Paid
1381,395,2024-12-01,tiktok,NL,Bob Wilson,395,trial_started,NaN,Paid
1282,366,2024-10-24,tiktok,TR,Frank Wilson,366,subscription_renewed,4.99,Paid
3024,873,2024-07-20,tiktok,NL,Grace Brown,873,subscription_renewed,8.99,Paid
1586,456,2024-08-28,organic,US,Frank Wilson,456,subscription_started,9.99,Organic
3376,970,2024-08-16,instagram,NL,Ivy Anderson,970,trial_started,NaN,Paid

 ### 4 - Analyze the trial-to-subscription conversion rate : 

- Calculate the overall conversion rate
- Break down the conversion rate by attribution_source

In [252]:
df['event_name'].value_counts()

event_name
app_install               1002
subscription_renewed       750
trial_started              682
subscription_started       481
subscription_cancelled     370
trial_cancelled            201
Name: count, dtype: int64

In [253]:
#For calculation the trial to subscription overall. just divide subscription_started by trial_started values

print('Overall trial-to-subscription : ', f'%{round((481/682)*100,2)}')

Overall trial-to-subscription :  %70.53

In [254]:
#Groupby the dataframe based on attribution_source and return value_counts
#Then find trial to subscription rate by subcategory of attribution_source

df.groupby('attribution_source')[['attribution_source','event_name']].value_counts()

attribution_source  event_name
instagram           app_install               306
                    subscription_renewed      237
                    trial_started             210
                    subscription_started      149
                    subscription_cancelled    118
                    trial_cancelled            61
organic             app_install               344
                    subscription_renewed      275
                    trial_started             236
                    subscription_started      169
                    subscription_cancelled    132
                    trial_cancelled            67
tiktok              app_install               352
                    subscription_renewed      238
                    trial_started             236
                    subscription_started      163
                    subscription_cancelled    120
                    trial_cancelled            73
Name: count, dtype: int64

In [255]:
print('Conversion rate of trial-to-subscription by "instagram" : ', f'%{round((149/210)*100,2)}',end='\n\n')
print('Conversion rate of trial-to-subscription by "organic" : ', f'%{round((169/236)*100,2)}',end='\n\n')
print('Conversion rate of trial-to-subscription by "tiktok" : ', f'%{round((163/236)*100,2)}')

Conversion rate of trial-to-subscription by "instagram" :  %70.95

Conversion rate of trial-to-subscription by "organic" :  %71.61

Conversion rate of trial-to-subscription by "tiktok" :  %69.07

 ### 5 - Calculate the median subscription duration (in months) for each country

In [256]:
events_df['created_at'] = pd.to_datetime(events_df['created_at'])

In [257]:
df_pivot = events_df.pivot_table(index='user_id', columns='event_name', values='created_at')

In [258]:
#Adding counties into pivot table by merging based on user_id in f

df_pivot = pd.merge(users_df,df_pivot, how = 'inner', left_on = 'id',right_on = 'user_id')

In [259]:
df_pivot

,id,created_at,attribution_source,country,name,app_install,subscription_cancelled,subscription_renewed,subscription_started,trial_cancelled,trial_started
0,1,2024-05-07T00:00:00,instagram,US,Eve Brown,2024-05-07,NaT,NaT,NaT,2024-05-24,2024-05-12
1,2,2024-10-12T00:00:00,instagram,NL,Frank Moore,2024-10-12,2025-02-12,2024-12-19,2024-10-20,NaT,2024-10-13
2,3,2024-10-15T00:00:00,tiktok,TR,Ivy Anderson,2024-10-15,2025-01-20,2024-12-20,2024-10-21,NaT,2024-10-19
3,4,2024-08-28T00:00:00,tiktok,TR,Alice Brown,2024-08-28,NaT,NaT,NaT,2024-09-06,2024-08-31
4,5,2024-04-03T00:00:00,organic,NL,Bob Moore,2024-04-03,NaT,NaT,NaT,NaT,NaT
...,...,...,...,...,...,...,...,...,...,...,...
997,998,2025-02-01T00:00:00,instagram,TR,Bob Davis,2025-02-01,NaT,NaT,NaT,NaT,NaT
998,999,2024-12-24T00:00:00,organic,NL,Charlie Davis,2024-12-24,2025-03-08,2025-02-17,2025-01-03,NaT,2024-12-29
999,1000,2025-02-13T00:00:00,organic,NL,Jack Anderson,2025-02-13,NaT,NaT,NaT,2025-02-25,2025-02-15
1000,1001,2025-02-16T00:00:00,instagram,US,Bruce Wayne,2025-02-25,NaT,NaT,2025-02-25,NaT,2025-02-25
1001,1002,2025-02-16T00:00:00,organic,TR,Clark Kent,2025-02-25,NaT,NaT,NaT,NaT,NaT

In [260]:
#Create new df_pivot just store subscription columns ad related columns

df_pivot_subscription = df_pivot[['id','country','subscription_cancelled','subscription_started']]

In [261]:
#Create new column -->> duration (in month)


df_pivot_subscription['duration-InMonth'] = round(((df_pivot_subscription['subscription_cancelled'] - df_pivot_subscription['subscription_started']).dt.days) / 30,2)

C:\Users\manai\AppData\Local\Temp\ipykernel_3816\447922206.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_pivot_subscription['duration-InMonth'] = round(((df_pivot_subscription['subscription_cancelled'] - df_pivot_subscription['subscription_started']).dt.days) / 30,2)

In [262]:
df_pivot_subscription

,id,country,subscription_cancelled,subscription_started,duration-InMonth
0,1,US,NaT,NaT,NaN
1,2,NL,2025-02-12,2024-10-20,3.83
2,3,TR,2025-01-20,2024-10-21,3.03
3,4,TR,NaT,NaT,NaN
4,5,NL,NaT,NaT,NaN
...,...,...,...,...,...
997,998,TR,NaT,NaT,NaN
998,999,NL,2025-03-08,2025-01-03,2.13
999,1000,NL,NaT,NaT,NaN
1000,1001,US,NaT,2025-02-25,NaN
1001,1002,TR,NaT,NaT,NaN

In [263]:
#Groupby on country and return median value of 'duration-InMonth' for each country

df_pivot_subscription[df_pivot_subscription['duration-InMonth'].notna()].groupby('country')['duration-InMonth'].median()

country
NL    2.315
TR    2.535
US    2.270
Name: duration-InMonth, dtype: float64

### 6 - Calculate the Average Lifetime Value (LTV) by country

In [264]:
#Calculate average revenue per user. Find total revenue and unique amount of users


total_revenue = df['amount_usd'].sum()
total_users = df['user_id'].nunique()  
rev_by_user = total_revenue / total_users

In [265]:
#Calculate "average lifespan" from duration-in month - so revenue taken only from subscription 
#We can use our "df_pivot_subscription" dataframe

average_lifespan = df_pivot_subscription['duration-InMonth'].mean()

In [266]:
average_lifespan

2.549486486486486

In [267]:
#Now Calculate LTV - Lifetiem Values by multiplication average lifespan with average revenue by user

LTV = round(rev_by_user*average_lifespan,2)

In [268]:
print('Average Lifetime Value(LTV) :',f'${LTV}')

Average Lifetime Value(LTV) : $24.55